# SPDX-License-Identifier: MIT
#
# Copyright 2025 bniladridas. All rights reserved.
# Use of this source code is governed by a MIT license that can be
# found in the LICENSE file.

extends: default

rules:
  line-length:
    max: 120
  indentation:
    spaces: 4
    indent-sequences: true
    check-multi-line-strings: false