#include "../../Flutter/Flutter-Release.xcconfig"
#include "Warnings.xcconfig"
#include "../../Pods/Target Support Files/Pods-Runner/Pods-Runner.profile.xcconfig"
OTHER_CFLAGS = -Wno-unused-variable -Wno-deprecated-declarations -Wno-incompatible-pointer-types -Wno-incomplete-implementation -Wno-unguarded-availability -Wno-unused-function
